*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(134, 238, 108);
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
main{
    padding:15px;
}
.pop-up{
    display: none;
    z-index: 2;
    background-color: wheat;
}
form{
    border:1px solid black;
    padding: 10px;
}
input{
    display: block;
    padding: 5px;
    border-radius: 5px;
}
p+p{
    margin-top: 10px;
}
.cards > div{
    border:1px solid black;
    padding:10px;
    margin-bottom: 5px;
}