*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(134, 238, 108);
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
main{
    padding:15px;
}
.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 2;
    background-color: white;
}
.pop-up.active{
    transform: translate(-50%,-50%) scale(1);
}
form{
    border:1px solid black;
    padding: 10px;
}
input{
    display: block;
    padding: 5px;
    border-radius: 5px;
}
p+p{
    margin-top: 10px;
}
.cards > div{
    border:1px solid black;
    padding:10px;
    margin-bottom: 5px;
}
.overlay{
    position:fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
.overlay.active{
    pointer-events: all;
    opacity: 1;
}